body {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: rgb(172, 172, 172);
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 20px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 621px;
    height: 462px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    width: 600px;
    height: 435px;
    border: 1px solid #000;
}

.forecast__form {
    display: flex;
    justify-content: flex-start;
    height: 45px;
    border-bottom: 1px solid #000;

}

input[type=text] {
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    border: none;
    width: 522px;
    margin-left: 15px;
}

.forecast__btn {
    margin-right: 15px;
    background: url(./img/magnifier.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: 0;
    margin-bottom: auto;
    margin-top: auto;
}

.forecast-container {
    display: flex;
    height: 389px;
    width: 600px;

}

.main-forecast {
    display: flex;
    flex-direction: column;
    width: 330px;
    border-right: 1px solid #000;
}

.tabs-items {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    border-top: 1px solid #000;
}

.tabs-item {
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000;
    padding: 12px;
}

.tabs-item:hover {
    background-color: #000;
    color: #fff;
}

.tabs-item:active {
    background-color: #000;
    color: #fff;
}

.tabs-item-1 {
    padding: 12px 32px;
    border-right: 1px solid #000;
}

.tabs-item-2 {
    padding: 12px 23px;
}

.tabs-item-3 {
    padding: 12px;
    border-left: 1px solid #000;
}

.forecast-months {
    display: flex;
    margin-top: auto;
    margin-bottom: 17px;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 26px;
}

.degrees {
    margin-left: 23px;
    font-size: 70px;
    line-height: 82px;
    display: flex;
    margin-top: 20px;
}

.degrees span {
    border: 4px solid #000;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-top: 15px;
}

.cloud {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.main-locations {
    width: 299px;
}

.locations-header {
    height: 68px;
    border-bottom: 1px solid #000;
    display: flex;
    padding-bottom: 7px;
    padding-left: 17px;
}


.locations-items {
    list-style-type: none;
    margin-left: 18px;
    margin-top: 15px;
    height: 275px;
    overflow: auto;
}

.locations-items::-webkit-scrollbar {
    width: 0;
}

li {
    margin: 14px 0;
}

.forecast {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.forecast-details {
    border: none;
}

.details-items {
    list-style-type: none;
    margin-left: 18px;
    margin-top: 20px;
}

.forecast-table {
    height: 350px;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 120px;
    border: 1px solid #000;
    font-size: 18px;
    line-height: 21px;
    padding: 8px;
    margin-left: 18px;
    margin-bottom: 9px;
}

.forecast-date,
.forecast-weather {
    display: flex;
    justify-content: space-between;
}

.forecast-icons {
    background: url(./img/rain.svg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 31px;
    height: 31px;
}

.weather-icon {
    display: flex;
    flex-direction: column;
}

.forecast-weather {
    margin-top: auto;
}

.rain {
    line-height: 15px;
}

.text-locations {
    display: inline-block;
    margin-top: auto;
}

.table-items {
    height: 275px;
    overflow: auto;
}

.table-items::-webkit-scrollbar {
    width: 0;
}

.forecast {
    display: none;
}

.forecast:target {
    display: flex;
}

.locations-items li {
    display: flex;
    justify-content: space-between;
}

.button-exit {
    background: url(./img/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    border: none;
    margin: 10px;
}

.like {
    border: none;
    background-color: transparent;
}

.like:hover svg {
    fill: rgb(255, 0, 0);
}

.like:active svg {
    fill: rgb(255, 0, 0);
}

.heart {
    fill: rgb(255, 0, 0);
}